<div class="container p-4">
  <!-- Boton para crear evento -->
  <div class="col text-center mb-3">
    <button class="btn btn-primary" (click)="mostrarModal(nombreModalCrear)">
      Crear evento
    </button>
  </div>

  <!-- Feed de eventos movil-->
  <div *ngIf="smartphone">
    <div class="card rounded" *ngFor="let evento of eventos">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{{evento.foto}}" class="rounded float-left img-fluid" width="240" height="240">
            <h5 class="card-title">{{evento.nombre}}</h5>
            <p class="card-text">{{evento.descripcion}}</p>
            <p>Impartido por: {{evento.invitados}}</p>
            <p>Fecha: {{evento.fecha | date : "dd/MM/yyyy"}}</p>
            <p>Hora: {{evento.hora}}</p>
            <p>Tags: {{evento.tags}}</p>
            <div class="row">
              <button class="btn btn-secondary mx-3"
                (click)="mostrarModalEditar(nombreModalEditar);getEvento(evento.id)">Editar</button>
              <button class="btn btn-danger" (click)="deleteEvento(evento.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Feed de eventos escritorio-->
  <div *ngIf="escritorio">
    <div class="card rounded" *ngFor="let evento of eventos">
      <div class="card-body">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{{evento.foto}}" class="rounded float-left img-fluid" width="240" height="240">
          </div>
          <div class="col-md-8">
            <h5 class="card-title">{{evento.nombre}}</h5>
            <p class="card-text">{{evento.descripcion}}</p>
            <p>Impartido por: {{evento.invitados}}</p>
            <p>Fecha: {{evento.fecha | date : "dd/MM/yyyy"}}</p>
            <p>Hora: {{evento.hora}}</p>
            <p>Tags: {{evento.tags}}</p>
            <div class="row">
              <button class="btn btn-secondary mx-3"
                (click)="mostrarModalEditar(nombreModalEditar);getEvento(evento.id)">Editar</button>
              <button class="btn btn-danger" (click)="deleteEvento(evento.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Crear-->
  <ng-template #nombreModalCrear>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Crear evento</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" [(ngModel)]="evento.nombre" name="nombre" class="form-control" id="recipient-name"
                  autocomplete="off">
              </div>
            </div>

            <div class="col-sm-7">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Invitados:</label>
                <input type="text" [(ngModel)]="evento.invitados" name="invitados" class="form-control"
                  id="recipient-name" autocomplete="off">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Descripcion:</label>
                <textarea type="text" [(ngModel)]="evento.descripcion" name="descripcion" class="form-control"
                  id="recipient-name" autocomplete="off"></textarea>
              </div>
            </div>


            <div class="col-sm-4">
              <label for="recipient-name" class="col-form-label">Fecha:</label>
              <div class="form-group">

                <div class="input-group">
                  <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel"
                    [(ngModel)]="evento.fecha" ngbDatepicker #d2="ngbDatepicker">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><img
                        src="../../../assets/images/fechaIcono.png" style="width: 20px;" /></button>
                  </div>
                </div>
              </div>
              <label for="recipient-name" class="col-form-label">Hora:</label>
              <div class="form-group">
                <ngb-timepicker name="tp" [(ngModel)]="evento.hora" [meridian]="true" [spinners]="true">
                </ngb-timepicker>
              </div>
            </div>

            <div class="col-sm-7">
              <label class="col-form-label">Tags</label>
              <div class="form-group">
                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check1" [checked]="arte"
                      (change)="check('arte', !arte)">
                    <label class="custom-control-label" for="check1">Arte</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check2" [checked]="musica"
                      (change)="check('musica', !musica)">
                    <label class="custom-control-label" for="check2">Música</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check3" [checked]="ciencia"
                      (change)="check('ciencia', !ciencia)">
                    <label class="custom-control-label" for="check3">Ciencia</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check6" [checked]="baile"
                      (change)="check('baile', !baile)">
                    <label class="custom-control-label" for="check6">Baile</label>
                  </div>
                </div>

                <div style="height: 0.75em"></div>

                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check5" [checked]="medicina"
                      (change)="check('medicina', !medicina)">
                    <label class="custom-control-label" for="check5">Medicina</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check4" [checked]="cultura"
                      (change)="check('cultura', !cultura)">
                    <label class="custom-control-label" for="check4">Cultura</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check7" [checked]="recreacion"
                      (change)="check('recreacion', !recreacion)">
                    <label class="custom-control-label" for="check7">Recreación</label>
                  </div>
                </div>

                <div style="height: 0.75em"></div>

                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check8" [checked]="literatura"
                      (change)="check('literatura', !literatura)">
                    <label class="custom-control-label" for="check8">Literatura</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check9" [checked]="especial"
                      (change)="check('especial', !especial)">
                    <label class="custom-control-label" for="check9">Especial</label>
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Foto:</label>
                    <button type="button" class="btn" placement="right"
                      ngbTooltip="Puedes seleccionar un archivo de tu dispositivo o ingresar un enlace de una imagen">
                      !
                    </button>
                    <input type="text" [(ngModel)]="evento.foto" name="foto" class="form-control" id="recipient-name"
                      autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="file" (change)="upload($event)" accept="image/*">
                  </div>
                  <p>
                    <ngb-progressbar type="success" [value]="porcentajeSubida" [striped]="true"></ngb-progressbar>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createEvento()" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </ng-template>

  <!-- Modal editar -->
  <ng-template #nombreModalEditar>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar evento</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">

            <div class="col-sm-5">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Nombre:</label>
                <input type="text" *ngIf="evento" [(ngModel)]="evento.nombre" name="nombre" class="form-control"
                  id="recipient-name" autocomplete="off">
              </div>
            </div>


            <div class="col-sm-7">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Invitados:</label>
                <input type="text" *ngIf="evento" [(ngModel)]="evento.invitados" name="invitados" class="form-control"
                  id="recipient-name" autocomplete="off">
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Descripcion:</label>
                <textarea type="text" *ngIf="evento" [(ngModel)]="evento.descripcion" name="descripcion"
                  class="form-control" id="recipient-name" autocomplete="off"></textarea>
              </div>
            </div>


            <div class="col-sm-4">
              <label for="recipient-name" class="col-form-label">Fecha:</label>
              <div *ngIf='evento?.fecha'>
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="dd/mm/yyyy" name="d2" #c2="ngModel"
                      [(ngModel)]="evento.fecha" ngbDatepicker #d2="ngbDatepicker" autocomplete="off">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><img
                          src="../../../assets/images/fechaIcono.png" style="width: 20px;" /></button>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf='evento?.fecha'>
                <label for="recipient-name" class="col-form-label">Hora:</label>
                <div class="form-group">
                  <ngb-timepicker name="tp" [(ngModel)]="evento.hora" [meridian]="true" [spinners]="true">
                  </ngb-timepicker>
                </div>
              </div>
            </div>


            <div class="col-sm-7">
              <label class="col-form-label">Tags</label>
              <div class="form-group">
                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check1" [checked]="arte"
                      (change)="check('arte', !arte)">
                    <label class="custom-control-label" for="check1">Arte</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check2" [checked]="musica"
                      (change)="check('musica', !musica)">
                    <label class="custom-control-label" for="check2">Música</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check3" [checked]="ciencia"
                      (change)="check('ciencia', !ciencia)">
                    <label class="custom-control-label" for="check3">Ciencia</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check6" [checked]="baile"
                      (change)="check('baile', !baile)">
                    <label class="custom-control-label" for="check6">Baile</label>
                  </div>
                </div>

                <div style="height: 0.75em"></div>

                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check5" [checked]="medicina"
                      (change)="check('medicina', !medicina)">
                    <label class="custom-control-label" for="check5">Medicina</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check4" [checked]="cultura"
                      (change)="check('cultura', !cultura)">
                    <label class="custom-control-label" for="check4">Cultura</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check7" [checked]="recreacion"
                      (change)="check('recreacion', !recreacion)">
                    <label class="custom-control-label" for="check7">Recreación</label>
                  </div>
                </div>

                <div style="height: 0.75em"></div>

                <div>
                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check8" [checked]="literatura"
                      (change)="check('literatura', !literatura)">
                    <label class="custom-control-label" for="check8">Literatura</label>
                  </div>

                  <div class="custom-control custom-checkbox custom-control-inline">
                    <input type="checkbox" class="custom-control-input" id="check9" [checked]="especial"
                      (change)="check('especial', !especial)">
                    <label class="custom-control-label" for="check9">Especial</label>
                  </div>

                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Foto:</label>
                    <button type="button" class="btn" placement="right"
                      ngbTooltip="Puedes seleccionar un archivo de tu dispositivo o ingresar un enlace de una imagen">
                      !
                    </button>
                    <input type="text" *ngIf="evento" [(ngModel)]="evento.foto" name="foto" class="form-control"
                      id="recipient-name" autocomplete="off">

                  </div>
                  <div class="form-group">
                    <input type="file" (change)="upload($event)" accept="image/*">
                  </div>
                  <p>
                    <ngb-progressbar type="success" [value]="porcentajeSubida" [striped]="true"></ngb-progressbar>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateEvento()" data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </ng-template>
</div>