textarea{
    height: 6em;
}

.card {
    margin: 5px;
}

@media (max-width: 1024px) {
    img {
        height: 100px;
        width: 100px;
    }
    
    .card-body{
        size: 150px;
        text-align: end;
        font-size: small;
    }
}