<!-- Perfil escritorio -->
<div class="container p-4" *ngIf="escritorio">
    <div class="card rounded">
        <div class="card-body">
            <div class="col-md-12">
                <button class="btn btn-warning float-right" (click)="mostrarModalPassword(modalPassword)">Cambiar
                    contraseña</button>
            </div>
            <div class="col-md-10">
                <button class="btn btn-info float-right" (click)="mostrarModalActualizar(modaActualizar)">Actualizar
                    datos</button>
            </div>
            <div class="container p-2">
                <div class="col-md-8">
                    <div class="card-title">
                        <h3>¡Bienvenido! {{saludo}} <img src="{{imagenSaludo}}" style="width: 40px;"></h3>
                    </div>
                    <div class="container p-md-4">
                        <p class="cart-text">Nombre: {{usuario.nombre}}</p>
                        <p class="card-text">Apellidos: {{usuario.apellidos}}</p>
                        <p class="card-text">Correo electronico: {{usuario.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <button class="btn btn-danger float-right" (click)="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>

<!-- Perfil smartphone -->
<div class="container p-4" *ngIf="smartphone">
    <div class="card rounded">
        <div class="card-body">

            <div class="container p-2">
                <div class="col-md-8">
                    <div class="card-title">
                        <h3>¡Bienvenido! {{saludo}} <img src="{{imagenSaludo}}" style="width: 40px;"></h3>
                    </div>
                    <div class="container p-md-4">
                        <p class="cart-text">Nombre: {{usuario.nombre}}</p>
                        <p class="card-text">Apellidos: {{usuario.apellidos}}</p>
                        <p class="card-text">Correo electronico: {{usuario.email}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-warning float-left" (click)="mostrarModalPassword(modalPassword)">Cambiar
                    contraseña</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-info float-right" (click)="mostrarModalActualizar(modaActualizar)">Actualizar
                    datos</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-danger" (click)="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal cambiar contraseña -->
<ng-template #modalPassword>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalPass">Cambiar contraseña</h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-inline">
                    <label for="recipient-name" class="col-form-label col-sm-3">Nueva contraseña: </label>
                    <input type="password" [(ngModel)]="newPassword" name="password" class="form-control col-lg-8"
                        id="recipient-name" autocomplete="off">

                </div>
                <br>
                <div class="form-inline">
                    <label for="recipient-name" class="col-form-label col-sm-3">Confirmar contraseña: </label>
                    <input type="password" [(ngModel)]="confirmPassword" name="password" class="form-control col-lg-8"
                        id="recipient-name" autocomplete="off">

                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="cambiarPass(newPassword, confirmPassword)">Confirmar</button>
    </div>
</ng-template>

<!-- Modal actualizar datos -->
<ng-template #modaActualizar>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalPass">Actualizar datos</h5>
        </div>
        <div class="modal-body">
            <form>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" [(ngModel)]="usuario.nombre" name="nombre" class="form-control"
                                id="recipient-name" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Apellidos:</label>
                            <input type="text" [(ngModel)]="usuario.apellidos" name="apellidos" class="form-control"
                                id="recipient-name" autocomplete="off">
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Correo electrónico:</label>
                            <input type="text" [(ngModel)]="usuario.email" name="emaiñ" class="form-control"
                                id="recipient-name" autocomplete="off">
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
            (click)="actualizarDatos()">Actualizar</button>
    </div>
</ng-template>