<img src="../../../assets/images/USBI.jpg" class="rounded float-left mx-lg-auto">
<div class="row">
  <div class="mx-lg-auto">
    <div class="card">
      <div class="card-header">
        Ingresar
      </div>
      <div class="card-body">
        <form (submit)="signIn()">

          <div class="form-group">
            <input type="email" [(ngModel)]="login.email" name="usuario" class="form-control"
                   placeholder="Correo electronico">
          </div>

          <div class="form-group">
            <input type="password" [(ngModel)]="login.password" name="usuario" class="form-control"
                   placeholder="Contraseña">
          </div>

          <div class="input-group mb-3 ">
            <div class="input-group-prepend">
              <label class="input-group-text" for="rol">Rol</label>
            </div>
            <select id="rol" class="custom-select" [(ngModel)]="login.rol" [ngModelOptions]="{standalone: true}">
              <option value="estudiante">Estudiante</option>
              <option value="administrador">Administrador</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Ingresar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
