<img src="../../../assets/images/USBI.jpg" class="rounded float-left mx-lg-auto">
<div class="row">
  <div class="mx-lg-auto">
    <div class="card">
      <div class="card-header">
        Registro de nuevos usuarios
      </div>
      <div class="card-body">
        <form (submit)="signUp()">

          <div class="form-group">
            <input type="text" [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Nombre(s)">
          </div>

          <div class="form-group">
            <input type="text" [(ngModel)]="usuario.apellidos" [ngModelOptions]="{standalone: true}"
                   class="form-control"
                   placeholder="Apellidos">
          </div>

          <div class="form-group">
            <input type="email" [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" class="form-control"
                   placeholder="Correo electronico">
          </div>

          <div class="form-group">
            <input type="password" [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}"
                   class="form-control"
                   placeholder="Contraseña">
          </div>

          <label class="col-form-label">Intereses</label>
          <div class="form-group">
            <div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check1" [checked]="arte"
                       (change)="check('arte', !arte)">
                <label class="custom-control-label" for="check1">Arte</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check2" [checked]="musica"
                       (change)="check('musica', !musica)">
                <label class="custom-control-label" for="check2">Música</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check3" [checked]="ciencia"
                       (change)="check('ciencia', !ciencia)">
                <label class="custom-control-label" for="check3">Ciencia</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check6" [checked]="baile"
                       (change)="check('baile', !baile)">
                <label class="custom-control-label" for="check6">Baile</label>
              </div>
            </div>

            <div style="height: 0.75em"></div>

            <div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check5" [checked]="medicina"
                       (change)="check('medicina', !medicina)">
                <label class="custom-control-label" for="check5">Medicina</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check4" [checked]="cultura"
                       (change)="check('cultura', !cultura)">
                <label class="custom-control-label" for="check4">Cultura</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check7" [checked]="recreacion"
                       (change)="check('recreacion', !recreacion)">
                <label class="custom-control-label" for="check7">Recreación</label>
              </div>
            </div>

            <div style="height: 0.75em"></div>

            <div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check8" [checked]="literatura"
                       (change)="check('literatura', !literatura)">
                <label class="custom-control-label" for="check8">Literatura</label>
              </div>

              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="check9" [checked]="especial"
                       (change)="check('especial', !especial)">
                <label class="custom-control-label" for="check9">Especial</label>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block">
            Registrar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
