<div class="row">
    <div class="mx-lg-auto">
        <div class="card">
            <div class="card-header">
                Registro de nuevos usuarios
            </div>
            <div class="card-body">
                <form (submit)="signUp()">

                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.fullname" name="usuario" class="form-control" placeholder="Nombre completo">
                    </div>
                    
                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.username" name="usuario" class="form-control" placeholder="Nombre de usuario">
                    </div>

                    <div class="form-group">
                        <input type="email" [(ngModel)]="user.email" name="usuario" class="form-control" placeholder="Correo electronico">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="user.password" name="usuario" class="form-control" placeholder="Contraseña">
                    </div>

                    <div class="form-group">
                        <input type="text" [(ngModel)]="user.labels" name="usuario" class="form-control" placeholder="Etiquetas">
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">
                        Registrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>