<!-- Dashboard escritorio -->
<div class="container p-4">
    <div class="row">
        <div class="card text-center rounded col-sm-3">
            <div class="card-body">
                <div class="container p-2">
                    <div class="card-title">
                        <img src="../../../assets/images/popular.png" style="width: 60px;">
                        <h5>Evento más popular</h5>
                    </div>
                    <p class="card-text">{{eventoPop}} : {{partEventoPopular}} participantes</p>
                </div>
            </div>
        </div>

        <div class="card text-center rounded col-sm-3">
            <div class="card-body">
                <div class="container p-2">
                    <div class="card-title">
                        <img src="../../../assets/images/usuariosRegistrados.png" style="width: 60px;">
                        <h5> Usuarios registrados</h5>
                    </div>
                    <h5>{{numUsuarios}}</h5>
                </div>
            </div>
        </div>

        <div class="card text-center rounded col-sm-3">
            <div class="card-body">
                <div class="container p-2">
                    <div class="card-title">
                        <img src="../../../assets/images/eventosCreados.png" style="width: 60px;">
                        <h5>Eventos creados</h5>
                    </div>
                    <h5>{{numEventos}}</h5>
                </div>
            </div>
        </div>

        <div class="container p-4">
            <h3>Mis Participantes</h3>
        </div>
        <div class="card cardEventos bg-dark text-white text-center rounded col-sm-3" *ngFor="let evento of eventos">
            <img src="https://bucket3.glanacion.com/anexos/fotos/38/3089038.jpg" class="card-img fondo">
            <div class="card-img-overlay">
                <div class="card-title">
                    <h5>{{evento.nombre}}</h5>
                </div>
                <h5>{{evento.participantes}}</h5>
            </div>
        </div>
    </div>
</div>